max-width = 1320px

width-break = 900px

header-small-height = 60px
header-big-height = 180px

font-family = Montserrat

primary-color = red
secondary-color = blue

color-verde = #2ca5ae
color-verde-oscuro = #056c69
color-gris-texto = #333333
color-gris-borde = #d9d9d9
color-gris-fondo = #f2f2f2

button-bg-color = color-verde
button-bg-hover-color = color-verde-oscuro
button-text-color = white
button-text-hover-color = white
button-small-height = 30px
button-height = 45px
button-big-height = 60px
button-small-font-size = 12px
button-font-size = 16px
button-big-font-size = 28px
button-small-weight = 300
button-weight = 300
button-big-weight = bold
button-small-letter-spacing = 2px
button-letter-spacing = 0
button-big-letter-spacing = 2px
button-border-radius = 5px

col-padding = 30px

form-input-bg-color = #f2f2f2
form-input-text-color = color-gris-texto
form-input-height = 45px
form-input-font-size = 16px
form-input-weight = 400
form-input-border-color = color-gris-borde
form-textarea-height = 150px
form-input-letter-spacing = 0px
form-border-radius = 5px

montserratFont(size = 14px, height = 16px, color = black, weight = 400, spacing = 0)
  font-family: font-family
  font-size: size
  color: color
  line-height: height
  font-weight: weight
  letter-spacing: spacing
