.hc-form
	
	.row
		
		&.table
			padding 0
			margin 30px 0
			border-left solid 1px color-gris-borde
			border-top solid 1px color-gris-borde
			
			.col
				padding 0 75px 0 0
				border-right solid 1px color-gris-borde
				border-bottom solid 1px color-gris-borde
				margin 0
				position: relative
				
				label
					padding 0 0 0 15px
					display block
					line-height 45px
					margin-bottom 0
					
				input
					border-radius 0
					border 0
					position: absolute
					top 0
					right 0
					width 75px
					border-left solid 1px color-gris-borde

	.hc-form-title
		montserratFont(22px, 22px, color-gris-texto, 600)
		margin-bottom 30px
		
		@media screen and (min-width: width-break)
			montserratFont(28px, 28px, color-gris-texto, 600)
	
	.hc-form-subtitle
		montserratFont(18px, 18px, color-gris-texto, 400)
		margin-bottom 30px
		padding-top 30px
		border-top solid 1px color-gris-borde
		
		@media screen and (min-width: width-break)
			montserratFont(21px, 21px, color-gris-texto, 400)
	
	.hc-form-subtitle-2
		montserratFont(13px, 13px, color-gris-texto, 600)
		
		@media screen and (min-width: width-break)
			montserratFont(16px, 16px, color-gris-texto, 600)
				
	.item
		margin-bottom 0 !important
		
		label
			montserratFont(11px, 13px, color-gris-texto, 300)
			margin-bottom 5px
			display: block
			
			@media screen and (min-width: width-break)
				montserratFont(13px, 13px, color-gris-texto, 300)
				
	.hc-form-buttons
		overflow hidden
		padding-top 30px
		padding-bottom 30px
		border-top solid 1px color-gris-borde
		
		.hc-form-button
			float left
			margin-right 15px