.hc-title
	padding 22px 15px
	montserratFont(16px, 16px, color-gris-texto, 600)

.hc-buttons
	overflow hidden
	position: relative
	padding 15px
	background color-gris-fondo
	margin-bottom 15px

	@media screen and (min-width: width-break)
		margin-bottom 30px
		min-height 45px

	.hc-button
		float left
		margin-right 15px

	.hc-button-right
		position: absolute
		right 0
		top 15px

.hc-pagination
	float left

	.hc-pagination-text
		float left

	.hc-pagination-cont
		float left

.hc-list
	margin 0 -15px

	.hc-item
		position relative
		padding-right 60px
		padding-left 15px
		margin-bottom 15px
		padding-bottom 5px
		border-bottom solid 1px color-gris-borde

		&.hc
			padding-right 15px

		&.hc-item-title
			border-bottom solid 2px color-gris-borde
			display none

			@media screen and (min-width: width-break)
				display block

			.hc-item-cont

				.hc-item-data

					@media screen and (min-width: width-break)
						vertical-align bottom

					.t

						@media screen and (min-width: width-break)
							display block

		@media screen and (min-width: width-break)
			padding-right 15px

		.hc-item-cont
			margin 0 -5px
			overflow hidden

			.hc-item-data-cont
				float left
				width 100%
				box-sizing border-box
				position: relative

				&.patient
					padding-left 30px

					.star
						position absolute
						left 4px
						top -1px
						color #d0cece

						&.active
							color #8e6b00

				@media screen and (min-width: width-break)
					width 61%

					&.hc
						width 100%

				@media screen and (min-width: (width-break + 200))
					width 68%

					&.hc
						width 100%

			.hc-item-data
				display inline-block
				padding 0 5px
				vertical-align top
				box-sizing border-box
				overflow hidden
				padding-bottom 10px
				min-height 1px
				margin-bottom 5px

				@media screen and (min-width: width-break)
					padding-bottom 0

				&.clear
					clear both

				&.hc-file
					margin-bottom 10px

					@media screen and (min-width: width-break)
						margin-top 15px

					a
						display inline-block
						color color-verde

						&:hover
							color color-verde-oscuro

				&.admission-date
				&.hc-date
					width 20%

					@media screen and (min-width: width-break)
						width 10%

				&.hc-tipo
					width 20%

					@media screen and (min-width: width-break)
						width 10%

				&.admission-date
				&.hc-professional
					width 60%

					@media screen and (min-width: width-break)
						width 15%

				&.hc-detail
					width 100%

					@media screen and (min-width: width-break)
						width 65%

				&.admisor-id
					width 30%

					@media screen and (min-width: width-break)
						width 10%

				&.admisor-name
					width 70%

					@media screen and (min-width: width-break)
						width 50%

				&.admisor-name
					width 100%

					@media screen and (min-width: width-break)
						width 50%

				&.report-id
					width 20%

					@media screen and (min-width: width-break)
						width 10%

				&.report-name
					width 40%

					@media screen and (min-width: width-break)
						width 25%

				&.report-visits
					width 40%

					@media screen and (min-width: width-break)
						width 65%

				&.id
					width 30%

					@media screen and (min-width: width-break)
						width 12%

					@media screen and (min-width: (width-break + 200))
						width 7%

				&.name
					width 70%

					@media screen and (min-width: width-break)
						width 20%

					@media screen and (min-width: (width-break + 200))
						width 25%

				&.cel
					width 50%

					@media screen and (min-width: width-break)
						width 20%

					@media screen and (min-width: (width-break + 200))
						width 18%

				&.phone
					width 50%

					@media screen and (min-width: width-break)
						width 18%

					@media screen and (min-width: (width-break + 200))
						width 15%

				&.email
					width 100%

					@media screen and (min-width: width-break)
						width 30%

					@media screen and (min-width: (width-break + 200))
						width 35%

				.t
					montserratFont(10px, 16px, color-gris-texto, 300)
					text-transform uppercase

					@media screen and (min-width: width-break)
						montserratFont(13px, 18px, color-gris-texto, 300)
						display none

				.p
					montserratFont(13px, 16px, color-gris-texto, 600)

					a
						color color-verde

						&:hover
							color color-verde-oscuro

					@media screen and (min-width: width-break)
						montserratFont(16px, 20px, color-gris-texto, 300)

				&.hidden
					display: none

					&.open
						display inline-block

					@media screen and (min-width: width-break)
						display inline-block

			.hc-item-options
				list-style none
				overflow hidden
				float left
				width 100%

				@media screen and (min-width: width-break)
					width 39%
					text-align right
					padding-top 0

				@media screen and (min-width: (width-break + 200))
					width 32%

				li
					display inline-block
					padding 0 5px

					a
					span
						curson pointer
						montserratFont(13px, 16px, color-verde, 300)

						@media screen and (min-width: width-break)
							montserratFont(16px, 20px, color-verde, 300)

						&:hover
							color color-verde-oscuro

			.hc-item-toggle
				position: absolute
				top 10px
				right 15px
				color color-verde
				cursor pointer

				@media screen and (min-width: width-break)
					display none

				&.open

					span
						transform: rotate(180deg);

				&:hover
					color color-verde-oscuro
