.prescription-section

    &.pdfprint
        padding-top 0 !important

        #header
            display none !important

        .prescription
            padding-top 155px !important

            .logo
                position: absolute
                top 0
                left 0
                display block

                img
                    height 90px
                    display block

            .patient-information
                display block
                width 300px
                top 12px
                position absolute
                right 15px
                top 0

            .professional-signature
                display block

.prescription
    position: relative

    .logo
        display none

    .patient-information
        display none

        .item

            .title
                montserratFont(16px, 18px, color-gris-texto, bold)

            .text
                montserratFont(16px, 18px, color-gris-texto, 400)

    .medicines

        .medicine
            padding-top 10px
            montserratFont(16px, 20px, color-gris-texto, 300)

    .professional-signature
        display none
        margin-top 60px
        montserratFont(16px, 18px, color-gris-texto, 400)
        padding-top:5px;
        text-align right

        div
            width 150px
            padding 5px 5px 0 5px
            box-sizing border-box
            margin-right 165px
            border-top:solid 1px #d9d9d9;
            display inline-block
            text-align left
