.prescription-section

    &.pdfprint
        padding-top 0 !important

        #header
            display none !important

        .date

            .input
                display none

            .text
                display block

        .prescription
            padding 0 15px
            box-shadow none

        .prescription-container
            padding 0

.prescription-container
    padding 0 15px 15px 15px

.prescription
    position: relative
    max-width: 800px
    box-sizing border-box
    padding 30px
    margin 0 auto
    box-shadow 0 0 10px #ccc
    margin-top 15px

    .logo
        position: absolute
        top 0
        left 0
        display block

        img
            height 90px
            display block

    .professional-information
        text-align center

        .name
            text-transform uppercase
            montserratFont(24px, 24px, black, 300, 5px)

        .number
            text-transform uppercase
            padding-top 2px
            montserratFont(18px, 22px, color-gris-texto, 300, 2px)

    .date
        position: absolute;
        bottom: 113px;
    
        .input
            padding-bottom 16px

        .text
            display none

    .patient-information
        display block
        width 260px
        margin auto
        padding:30px 0

        .item
            text-transform uppercase

            .title
                montserratFont(16px, 18px, color-gris-texto, 500)

            .text
                montserratFont(16px, 18px, color-gris-texto, 300)

    .medicines

        .medicine
            padding-left:60px;
            position:relative;
            padding-top 10px
            montserratFont(16px, 20px, color-gris-texto, 300)

            span
                position:absolute;
                top:10px;
                left:45px;

    .text
        padding-top 30px
        montserratFont(16px, 20px, color-gris-texto, 300)

        strong
            montserratFont(16px, 18px, color-gris-texto, 500)

    .professional-signature
        margin-top 60px
        montserratFont(16px, 18px, color-gris-texto, 400)
        padding-top:5px;
        text-align right

        div
            width 250px
            padding 5px 5px 0 5px
            box-sizing border-box
            margin-right 15px
            border-top:solid 1px #d9d9d9;
            display inline-block
            text-align left
            text-transform uppercase
            montserratFont(13px, 15px, color-gris-texto, 300)

            strong
                montserratFont(16px, 18px, color-gris-texto, 500)
